<!DOCTYPE html>
<html layout:decorate="~{fragments/layout.html}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Announcements</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h3> Edit Announcement</h3>
    </div>
    <form method="post" th:action="@{/my-announces/createUpdate}" th:object="${announcement}">
        <div class="form-group">
            <label for="title">Title</label>
            <input class="form-control" id="title" th:field="*{title}" type="text" required>
        </div>
        <div class="row form-group">
            <div class="col-md-6">
                <label for="category">Category</label>
                <select class="form-control" id="category" th:field="*{category}">
                    <option selected value="">Category</option>
                    <option
                            th:each="dropdownValue: ${allCategories}"
                            th:text="${dropdownValue.label}"
                            th:value="${dropdownValue.categoryId}">category.label</option>
                </select>
            </div>
            <div class="col-md-6">
                <label for="price">Price</label>
                <input class="form-control" id="price" th:field="*{price}" type="number">
            </div>
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" id="description" th:field="*{description}" type="text"
                      required rows="10">
            </textarea>
        </div>

        <input class="btn btn-primary" type="submit" value=" Submit ">
        <input id="id" th:field="*{announcementId}" type="hidden">

    </form>
</div>
</body>
</html>