<!DOCTYPE html>
<html layout:decorate="~{fragments/layout.html}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Students</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <h3> Edit Account</h3>
    <form action="#" method="post" th:action="@{/account/edit}" th:object="${accountDto}">
        <div class="form-group">
            <label class="col-form-label" for="email">Email</label>
            <input type="text" readonly class="form-control-plaintext" id="email" th:field="*{email}">
        </div>
        <div class="form-group">
            <a th:href="@{/account/update-password}" class="btn btn-primary">Edit password</a>
        </div>
        <div class="form-group">
            <label class="col-form-label" for="firstName">First Name</label>
            <input class="form-control" id="firstName" placeholder="First Name"
                   th:field="*{firstName}" type="text"/>
        </div>
        <div class="form-group">
            <label class="col-form-label" for="lastName">Last Name</label>
            <input class="form-control" id="lastName" placeholder="Last Name"
                   th:field="*{lastName}" type="text"/>
        </div>
        <div class="form-group">
            <label class="col-form-label" for="phoneNumber">Phone number</label>
            <input class="form-control" id="phoneNumber" placeholder="phone Number"
                   th:field="*{phoneNumber}" type="text"/>
        </div>
        <div class="form-group">
            <label for="school">School</label>
            <select class="form-control" id="school" th:field="*{school}">
                <option value="" selected>Select your school</option>
                <option
                        th:each="dropdownValue: ${allSchools}"
                        th:text="${dropdownValue.name}"
                        th:value="${dropdownValue.schoolId}">school.name
                </option>
            </select>
        </div>

        <a th:href="@{/account/dashboard}" class="btn btn-secondary">Return</a>
        <input class="btn btn-primary" type="submit" value="Submit ">
    </form>
</div>
</body>
</html>