<!DOCTYPE html>
<html layout:decorate="~{fragments/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>My Account</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <h1>My Account</h1>

    <section id="account-info">
        <h3>Account informations</h3>
        <div class="row">
            <label class="col-sm-6 col-form-label" for="staticEmail">Email</label>
            <label class="col-sm-6 col-form-label" id="staticEmail" value="email@example.com">Email</label>
        </div>
        <div class="row">
            <label class="col-sm-6 col-form-label" for="firstname">First name</label>
            <label class="col-sm-6 col-form-label" id="firstname" value="firstname">First name</label>
        </div>
        <div class="row">
            <label class="col-sm-6 col-form-label" for="lastname">Last name</label>
            <label class="col-sm-6 col-form-label" id="lastname" value="lastname">Last name</label>
        </div>
    </section>

    <section id="student-info">
        <div class="row">
            <label class="col-sm-2 col-form-label" for="photo">Photo de profil</label>
            <div class="col-sm-10">
                <input class="form-control-plaintext" id="photo" readonly type="text">
            </div>
        </div>
        <div class="row">
            <label class="col-sm-6 col-form-label" for="phonenumber">Phonenumber</label>
            <label class="col-sm-6 col-form-label" id="phonenumber" text="01.23.45.69.87">Phonenumber</label>
        </div>
        <div class="row">
            <label class="col-sm-6 col-form-label" for="school">School name</label>
            <label class="col-sm-6 col-form-label" id="school" text="school1">School name</label>
        </div>
    </section>

    <a class="btn btn-primary mb-2" th:href="@{/account/edit}" type="submit">Edit profile</a>
</div>
</body>
</html>