<!DOCTYPE html>
<html layout:decorate="~{fragments/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>My Announces</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <h1>My announces</h1>
    <section id="my-announces" th:unless="${#lists.isEmpty(allAnnouncements)}">
        <div class="card shadow-sm mb-3" th:each="announcement : ${allAnnouncements}">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img alt="This is an announce" class="card-img"
                         src="https://fakeimg.pl/350x210/?text=Big Announce !">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a th:href="@{/announces/{id}(id=${announcement.announcementId})}">
                                <span th:text="${announcement.title}">announcement.title</span>
                            </a>

                            <div class="btn-group float-right" role="group" aria-label="Basic example">
                                <a th:href="@{/my-announces/edit/{id}(id=${announcement.announcementId})}"
                                    class="btn btn-primary ">Edit
                                </a>
                                <form method="post" th:action="@{/my-announces/delete}">
                                    <input id="id-to-delete" th:value="*{announcementId}" type="hidden">
                                    <input class="btn btn-danger float-right" type="submit" value="Delete">
                                </form>
                            </div>
                        </h5>

                        <p class="card-text">
                            <a th:href="@{/category/{label}(label=${announcement.category.label})}">
                                <span th:text="${announcement.category.label}">category.label</span>
                            </a>
                        </p>
                        <p class="card-text"><span th:text="${announcement.price}">price</span> €</p>
                        <p class="card-text"><small class="text-muted">Posted <span th:text="${announcement.created}">3 mins
                            ago</span></small></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>