<!DOCTYPE html>
<html layout:decorate="~{fragments/layout-admin.html}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Users</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Map of users</h1>

        <!-- Button trigger modal -->
        <a class="btn btn-primary float-right" href="/edit" th:href="@{/admin/users/edit}">
            Add new User
        </a>
    </div>

    <!--    user list-->
    <div th:unless="${#lists.isEmpty(allUsers)}">
        <h2>User List</h2>
        <div class="table-responsive">
            <table class="table table-striped table-sm">
                <thead>
                <tr>
                    <th>#User</th>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Email</th>
                    <th>Date creation</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${allUsers}">
                    <td th:text="${user.userId}">userId</td>
                    <td th:text="${user.firstName}">firstName</td>
                    <td th:text="${user.lastName}">lastName</td>
                    <td th:text="${user.email}">email</td>
                    <td th:text="${user.created}">created</td>

                    <td>
                        <a class="btn btn-primary"
                           th:href="@{/admin/users/edit/{id}(id=${user.userId})}">
                            <span class="material-icons">
                                edit
                            </span>
                        </a>
                    </td>
                    <td>
                        <!--                    TODO:trigger an alert to confirm the deletion -->
                        <a class="btn btn-primary" target="_top"
                           th:href="@{/admin/users/delete/{id}(id=${user.userId})}">
                            <span class="material-icons">
                                delete
                            </span>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>