<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="header">
    <!--    navbar-->
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow"
         style="border-bottom-style: solid;border-bottom-width: 0px;">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/" th:href="@{/}">
            <span th:text="${appName}">LBCE</span>
        </a>
        <input aria-label="Search" class="form-control form-control-dark w-100" placeholder="Search" type="text">
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link" href="#">Sign out</a>
            </li>
        </ul>
    </nav>
</th:block>
</body>
</html>