<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:th="http://www.thymeleaf.org"
>
<th:block th:fragment="search-box">
    <section id="search-form">
        <!--Search Form-->
        <div class="jumbotron text-center">
            <form action="/search" class="col-md-10 offset-1" method="get" th:action="@{/search}"
                  th:object="${searchForm}">
                <div class="form-check form-check-inline">
                    <input checked class="form-check-input" id="isAnnounce" name="isAnnounceOrSearch"
                           th:field="*{type}" type="radio" value="announce">
                    <label class="form-check-label" for="isAnnounce">Announce</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" id="isSearch" name="isAnnounceOrSearch" th:field="*{type}"
                           type="radio" value="search">
                    <label class="form-check-label" for="isSearch">Search</label>
                </div>

                <div class="form-inline">
                    <label class="sr-only" for="category">Name</label>
                    <select class="form-control col-md-2" id="category" name="category" th:field="*{categoryId}">
                        <option selected value="-1">Category</option>
                        <option
                                th:each="dropdownValue: ${allCategories}"
                                th:text="${dropdownValue.label}"
                                th:value="${dropdownValue.categoryId}">category.label
                        </option>
                    </select>

                    <label class="sr-only" for="keywordsInput">Name</label>
                    <input class="form-control col-md-6" id="keywordsInput" placeholder="Key words"
                           th:field="*{keywordsInput}"
                           type="text">

                    <label class="sr-only" for="school">Name</label>
                    <select class="form-control col-md-4" id="school" th:field="*{schoolId}">
                        <option selected value="-1">School</option>
                        <option
                                th:each="dropdownValue: ${allSchools}"
                                th:text="${dropdownValue.name}"
                                th:value="${dropdownValue.schoolId}">school.name
                        </option>
                    </select>

                </div>
                <button class="btn btn-primary mb-2" type="submit">Submit</button>
            </form>
        </div>
    </section>
</th:block>