/*
Prussian Blue: 003049
Maximum Red: D62828
Orange YR68: F77F00
Maximum Yellow Red: FCBF49
Lemon Meringue: EAE2B7
*/

.body-signin {
    height: 100vh;
    display: flex;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    text-align: center;
}

.form-registration {
    width: 100%;
    max-width: 550px;
    padding: 15px;
    margin: auto;
    text-align: center;
}