<!DOCTYPE html>
<html layout:decorate="~{fragments/layout.html}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Index</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">

    <th:block th:replace="fragments/search-box.html :: search-box"/>

    <section id="top-categories" th:unless="${#lists.isEmpty(top5categories)}">
        <!--display top5 categories-->
        <h2>Top5 categories</h2>
        <div class="card-group">
            <div class="card" th:each="category,state : ${top5categories}">
                <img alt="" class="card-img-top" src="">
                <div class="card-body">
                    <h5 class="card-title" th:text="${category.label}">category.label</h5>
                </div>
            </div>
        </div>
    </section>


    <section id="schools-around" th:unless="${#lists.isEmpty(top5schools)}">
        <!--take geolocalisation and top10 schools nearby-->
        <h2>Top5 schools</h2>
        <div class="card-group">
            <div class="card" th:each="school,state : ${top5schools}">
                <img alt="" class="card-img-top" src="">
                <div class="card-body">
                    <h5 class="card-title" th:text="${school.name}">school.name</h5><a th:href="${school.link}">
                        <span class="material-icons">
                            link
                        </span></a>
                    <p class="card-text" th:text="${school.address}">school.address</p>
                </div>
            </div>
        </div>
    </section>


    <section id="all-categories">
        <!--display all categories-->
    </section>

</div>
</body>
</html>