<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <!--    Bootstrap-->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.min.css}" type="text/css"/>
    <!--    Css perso-->
    <link rel="stylesheet" th:href="@{/css/main.css}" type="text/css"/>
    <title>Login</title>
</head>
<body class="body-signin">
<form class="form-registration" method="post" th:action="@{/registration}" th:object="${user}">
    <div th:if="${param.success}">
        <div class="alert alert-info">
            You've successfully registered to our awesome app!
        </div>
    </div>

    <p class="error-message"
       th:each="error : ${#fields.errors('global')}"
       th:if="${#fields.hasGlobalErrors()}"
       th:text="${error}">Validation error</p>


    <a href="/" th:href="@{/}">
        <img alt="" class="mb-4" height="72" src="" width="72">
    </a>
    <h1 class="mb-5">Registration</h1>
    <div class="form-group row"
         th:classappend="${#fields.hasErrors('firstName')}? 'has-error':''">
        <label class="col-sm-4 col-form-label" for="firstName">First name</label>

        <div class="col-sm-8">
        <input class="form-control"
               id="firstName"
               th:field="*{firstName}"/>
        <p class="error-message"
           th:each="error: ${#fields.errors('firstName')}"
           th:text="${error}">Validation error</p>
        </div>
    </div>
    <div class="form-group row"
         th:classappend="${#fields.hasErrors('lastName')}? 'has-error':''">
        <label class="col-sm-4 col-form-label" for="lastName">Last name</label>
        <div class="col-sm-8">
        <input class="form-control"
               id="lastName"
               th:field="*{lastName}"/>
        <p class="error-message"
           th:each="error : ${#fields.errors('lastName')}"
           th:text="${error}">Validation error</p>
        </div>
    </div>
    <div class="form-group row"
         th:classappend="${#fields.hasErrors('email')}? 'has-error':''">
        <label class="col-sm-4 col-form-label" for="email">E-mail</label>
        <div class="col-sm-8">
        <input class="form-control"
               id="email"
               th:field="*{email}"/>
        <p class="error-message"
           th:each="error : ${#fields.errors('email')}"
           th:text="${error}">Validation error</p>
        </div>
    </div>
    <div class="form-group row"
         th:classappend="${#fields.hasErrors('confirmEmail')}? 'has-error':''">
        <label class="col-sm-4 col-form-label" for="confirmEmail">Confirm e-mail</label>
        <div class="col-sm-8">
        <input class="form-control"
               id="confirmEmail"
               th:field="*{confirmEmail}"/>
        <p class="error-message"
           th:each="error : ${#fields.errors('confirmEmail')}"
           th:text="${error}">Validation error</p>
        </div>
    </div>
    <div class="form-group row"
         th:classappend="${#fields.hasErrors('password')}? 'has-error':''">
        <label class="col-sm-4 col-form-label" for="password">Password</label>
        <div class="col-sm-8">
        <input class="form-control"
               id="password"
               th:field="*{password}"
               type="password"/>
        <p class="error-message"
           th:each="error : ${#fields.errors('password')}"
           th:text="${error}">Validation error</p>
        </div>
    </div>
    <div class="form-group row"
         th:classappend="${#fields.hasErrors('confirmPassword')}? 'has-error':''">
        <label class="col-sm-4 col-form-label" for="confirmPassword">Confirm password</label>
        <div class="col-sm-8">
        <input class="form-control"
               id="confirmPassword"
               th:field="*{confirmPassword}"
               type="password"/>
        <p class="error-message"
           th:each="error : ${#fields.errors('confirmPassword')}"
           th:text="${error}">Validation error</p>
        </div>
    </div>
    <div class="form-group form-check"
         th:classappend="${#fields.hasErrors('terms')}? 'has-error':''">
        <input class="form-check-input"
                id="terms"
               th:field="*{terms}"
               type="checkbox"/>
        <label class="form-check-label" for="terms">
            I agree with the <a href="#">terms and conditions</a> for Registration.
        </label>
        <p class="error-message"
           th:each="error : ${#fields.errors('terms')}"
           th:text="${error}">Validation error</p>
    </div>
    <div class="form-group">
        <button class="btn btn-success" type="submit">Register</button>
    </div>
    <div class="form-group">
        <span>Already registered? <a href="/" th:href="@{/login}">Login here</a></span>
    </div>
</form>
</body>
</html>