<!DOCTYPE html>
<html layout:decorate="~{fragments/layout.html}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Index</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">

    <th:block th:replace="fragments/search-box.html :: search-box"/>

    <section id="searchResults">
        <!--        Display search results-->
        <div class="searchResults-header">
            <h1>Search result</h1>
            <p>For the criteria following criteria :</p>
        </div>
        <div class="searchResult-results">
            <th:block th:replace="display-announces.html :: display-announces"/>
        </div>
    </section>
</div>
</body>
</html>